.forms-btn {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 0 10px 5px 0;
}
.forms-btn button {
  background-color: white;

  padding: 10px 3px;
  border: none;
  margin-right: 5px;

  cursor: pointer;
}
.btnFilterMeetings {
  border-radius: 5px 2px 0 0;
}
.btnAddMeetings {
  border-radius: 0 5px 2px 0;
}
.borderBottomForms-btn {
  margin-top: -5px;
  width: 100%;
  color: black;
}
.forms-btn button:hover,
.btnFilterMeetings.active {
  border: 1px solid rgba(165, 165, 165, 0.993);
  color: black;
  border-bottom: none;
}
.searchMeetingForm,
.addMeetingForm {
  background-color: skyblue;
}
meetingPageForm-1 {
  display: none;
}
.searchMeeting-content {
  margin: 0 10px 0 10px;
}
.searchMeeting-content p,
#subHeading {
  color: white;
  margin-left: 10px;
  padding-top: 15px;
  font-size: 20px;
  font-weight: 600;
}

#date,
#searchFor {
  width: 100%;
  margin: 5px 0;
  resize: none;
}
#date {
  height: 30px;
  outline: none;
}
#search {
  padding: 5px 10px;
  color: white;
  background-color: rgb(7, 113, 155);
  border: none;
  margin-bottom: 10px;
  border-radius: 2px;
  cursor: pointer;
}
#search:hover {
  background-color: rgb(10, 169, 231);
}
.meeting-list {
  margin-top: 1em;

  margin-left: 10px;
}
.meeting-list p {
  font-size: 23px;
  font-weight: 600;
}
.meeting-list-item {
  margin: 1em 0;
  border: 1px solid rgba(0, 0, 0, 0.13);
}
.meeting-item-details {
  margin: 0.5em 0 0.5em 1em;
  background-color: white;
}
.meeting-item-details p {
  font-size: 18px;
}
.meeting-item-details span {
  font-size: 12px;
  font-weight: 100;
}
.meeting-item-details hr {
  width: 99%;
}
.details {
  padding: 0.3em;
}

.Attendees {
  font-weight: 700;
}

.addMeetingForm {
  display: none;
}
.addMeeting-content {
  margin: 0 10px 10px 10px;
}

.input,
textarea {
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}
textarea {
  resize: none;
}
.input-time {
  margin-bottom: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  height: 27px;
}
#inputFormat {
  color: rgb(0, 0, 0);
  margin-bottom: 15px;
}
#addMeeting {
  padding: 0.3em 0.3em;
  background-color: rgb(7, 113, 155);
  border: none;
  border-radius: 2px;
  margin-bottom: 10px;
  color: white;
  margin-bottom: 1em;
  cursor: pointer;
}
#addMeeting:hover {
  background-color: rgb(10, 169, 231);
}
